$theme: "dark";

$main-color: black;
$main-color--shade: black;
$main-color--tint: black;

$secodary-color: white;
$secodary-color--shade: white;
$secodary-color--tint: white;

$main-accent: blue;
$main-accent--shade: blue;
$main-accent--tint: blue;

$main-gray: gray;
$main-gray--shade: gray;
$main-gray--tint: gray;

// $main-gradient: linear-gradient(to top left, $main-color, $main-color--tint);
