// Reset page
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// Make rem = 10px and scroll smooth
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
// Reset body
body {
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}
// Reset links
a {
  &:link,
  &:visited {
    display: inline-block;
    color: inherit;
    text-decoration: none;
  }
}
// Reset buttons
button {
  border: none;
  &:focus {
    outline: none;
  }
}

ul {
  list-style: none;
}
