/// Mixin to set and configure flex
/// @param {string} $center
/// 1- if it should be centered true for center but _ for do nothing
/// @output
/// ```css
///    display: flex
///    justify-content: center;
///    align-items: center;
/// @example
///   .selector {
///     @make-flex(true);
///   }

@mixin make-flex($center) {
  display: flex;
  @if $center == "true" {
    @include centering;
  }
}

@mixin centering {
  justify-content: center;
  align-items: center;
}
